/* banner */
.banner-container {
    background-image: url("../assets/img/banner.png");
    width: 100%;
    height: 320px;
    background-position: center;
    background-size: cover;
}

.banner-presentacion {
    position: relative;
    top: 30%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-title {
    font-size: 35px;
    margin: 0;
    color: #771848;
    font-style: italic;
}
.banner__logo-container{
    height: 7rem;
    
}
.banner__logo-image{
    height: 100%;
}

@media (min-width:760px) {
    .banner-title {
        font-size: 50px;
    }
    .banner__logo-container{
        height: 10rem;
    }

    .banner-container {
        height: 540px;
    }
}