.article-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    height: 79vh;
    overflow: hidden;
}
.perfil__info-container{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    background-color: #fff;
    max-width: 20rem;
    padding: 2rem;
    gap: 1rem;
    border-radius: 3rem;
    box-shadow: 1px 0 1px 1px rgba(248, 76, 248, 0.486);
}

.profile__info{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0 4rem;
    text-align: center;
    color: #000;
}


.profile__info-title{
    margin: 0;
}
.profile__info-description{
    margin: 0
}
.profile__image-container{
    height: 15rem;
    display: flex;
    justify-content: center;
    
}
.profile__image{
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgb(54, 0, 61);
}

.profile__image:hover{
    transform: scale(1.1,1.1);
    filter: brightness(125%);
    border: 2px solid #9d00bd;
}


@media (min-width:760px) {
    .article-nosotros{
        height: 82vh;
        overflow: hidden;
        
    }
    .profile__info{
        padding: 0 14rem;
    }
    .profile__image-container{
        height: 24rem;
    }
    .perfil__info-container{
        max-width: 1024px;
    }
}
